#articlepic{
	width:150px;
	height:150px;
	float:left;
}
#articleabout{
	width:700px;
	height:160px;
}
#articledescrip{
	width:400px;
	height:160px;
	float:left;
	text-align:center;
}
#articleheading{
	font-size:large;
	color:#00AEEF;
	text-transform:capitalize;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#articletime{
	color:red;
	font-size:x-small;
}
#articleauthors{
	color:black;
	font-size:small;
	font-style:italic;
}
#articlecontent{
	width:720px;
	height:auto;
}

#articlecomment{
	width:400px;
	height:auto;
}

